@model MovieModel

@{
    ViewData["Title"] = "Registration Page"; //reference the calculator controller
}
<form asp-action="RegistrationResults">
    <div class="form-group">
        <label for="ID">ID</label>
        <input class="form-control" asp-for="@Model.ID" id="ID">
    </div>
    <div class="form-group">
        <label for="ID">ID</label>
        <input class="form-control" asp-for="@Model.Title" id="Title">
    </div>
    <div class="form-group">
        <label for="ID">ID</label>
        <input class="form-control" asp-for="@Model.Genre" id="Genre">
    </div>
    <div class="form-group">
        <label for="ID">ID</label>
        <input class="form-control" asp-for="@Model.Year" id="Year">
    </div>
    <div class="form-group">
        <label for="ID">ID</label>
        <input class="form-control" asp-for="@Model.Actors" id="Actors">
    </div>
    <div class="form-group">
        <label for="ID">ID</label>
        <input class="form-control" asp-for="@Model.Directors" id="Directors">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>